

.nav {
  background: black;
}

.container{
  margin: 0
}

.navList {
  display: flex;
  list-style: none;
}

.navList li {
  padding: 10px;
}

.navList li a {
  color: white;
}

.footer {
  background: black;
  padding: 50px 10px 10px 10px;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.centerTxt{
  text-align: center;
  color: white;
}


