
.nav {
  background: black;
}

.container{
  margin: 0
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navList div:nth-of-type(1) {
  flex-basis: 90%;
}
.navList>div>li {
  padding: 21px 20px 0px 20px;
  display: inline-block;
}

.navList>div>li a {
  color: white;
}

.navList li  {
  padding:  24px 20px 18px 20px;
  display: inline-block;
}

.navList li a {
  color: white;
}

.footer {
  background: black;
  padding: 50px 10px 10px 10px;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.centerTxt{
  text-align: center;
  color: white;
}

.signUp {
  text-align: center;
  border: 1px solid #ccc;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #c7a7a7;
}

.signupButton{
  padding: 12px;
  background-color: black;
  color: white;
  margin-top: 12px;
  margin-right: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.fieldContainer  {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}


.signUpField {
  margin-left: 12px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.userName {
  display: flex;
}



/*** user icon image */

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 12px 0px 5px 0px;
}

/* Style the dropdown button */
.dropbtn {
    background-color: black;
    color: white;
    /* padding: 10px; */
    border: none;
    cursor: pointer;
}

/* Style the user image */
.user-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 97px;
    right: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #3498db;
    color: white;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Position the dropdown content above the dropdown button */
.dropdown-content {
    /* top: -130%; */
    
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  position: absolute;
  left: 40%;
}

.form-group {
  margin: 8px 0;
  padding: 12px;
}

.form-group label {
  display: block;
  font-weight: bold;
  font-size: small;
  margin-bottom: -5px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
